<div class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a *ngIf="!back" class="navbar-brand" [routerLink]="['']">Scier</a>
    <a *ngIf="back" class="navbar-brand" (click)="goback()"><i class="fas fa-arrow-left"></i></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" *ngIf="pages">
            <span *ngFor="let link of pages" >
                <a *ngIf="link.show" [routerLink]="[link.url]" class="nav-item nav-link {{link.active}}" >{{link.name}}</a>
            </span>
        </div>
    </div>
</div>