<app-navbar [back]="true" [page]="'album'"></app-navbar>

<div class="container">

    <div class="row mt-3">
        <div class="col-md-12">
            <h2 class="text-center">Album name</h2>
        </div>
        
        <div class="col-md-12">
            <img style="width: 100%;" src="https://images.pexels.com/photos/3552544/pexels-photo-3552544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">      
        </div>
    </div>

    <div class="fixed-viewer">
        <img style="margin-left: 50%; transform: translateX(-50%); height: 80%; margin-top: 10%;" src="https://images.pexels.com/photos/3552544/pexels-photo-3552544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
    </div>

</div>
